@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Ubuntu:wght@300&display=swap');


.home_container_1 {
    /* border: 2px solid red; */
    display: flex;
    overflow: auto;
}

.home_container_1_subcontainer_1 {
    /* border: 2px solid blue; */
    width: 50%;
}

.home_container_1_subcontainer_1_p_1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
    letter-spacing: 1px;
    cursor: default;
}


hr {
    color: gray;
    width: 70%;
    text-align: center;
}

.options {
    font-family: 'Ubuntu', sans-serif;
}

.home_container_1_subcontainer_1_input {
    margin: 35px 0px;
    padding: 7px 4px;
    width: 98%;
    /* border: none; */
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.445);
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.home_container_1_subcontainer_1_button_1 {
    margin: 37px -89px;
    background: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    position: absolute;
    padding: 7px 21px;
    color: gray;
    border: none;
    border-left: 2px solid gray;
}

.home_container_1_subcontainer_1_button_1:hover {
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.btn_container{
    /* border: 2px solid red; */
}

.home_container_1_subcontainer_1_button_2 {
    width: 25%;
    padding: 12px 0px;
    margin-left: 165px;
    margin-top: -170px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    letter-spacing: 2px;
    background-color: #e76f51;
    color: wheat;
    position: absolute;
}

.home_container_1_subcontainer_1_button_2:hover {
    cursor: pointer;
    font-weight: 900;
    /* background-color: #e76f51; */
    background-color: #283618;
    /* color: #caf0f8; */
    color: white;

}

.home_container_1_subcontainer_1_button_3 {
    /* margin: -95px 197px; */
    margin-left: 165px;
    margin-top: -120px;
    position: absolute;
    width: 25%;
    padding: 12px 0px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #283d3b;
    box-shadow: 2px 1px 6px grey;
}

.home_container_1_subcontainer_1_button_3:hover {
    cursor: pointer;
    box-shadow: 2px 1px 6px black;
}


.home_container_1_img_subcontainer_2 {
    /* border: 2px solid green; */
    width: 50%;
}

.home_container_1_img {
    width: 90%;
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    .home_container_1_img {
        width: 100%;
        margin-top: 115px;
    }

    .home_container_1_subcontainer_1_input {
        width: 95%;
        font-size: 14px;
    }

    .home_container_1_subcontainer_1_button_2 {
        margin-left: -199px;
        width: 21%;
        font-size: 13px;
        margin-top: 90px;
        position: absolute;
    }

    .home_container_1_subcontainer_1_button_3 {
        margin-left: 90px;
        width: 21%;
        font-size: 13px;
        margin-top: 40px;
    }

}

@media only screen and (max-width: 500px) {

    .home_container_1 {
        display: block;
    }

    .home_container_1_subcontainer_1 {
        border: 2px solid blue;
        width: 100%;
        /* position: absolute; */
        /* margin-top: 5%; */
    }

    .home_container_1_img_subcontainer_2 {
        border: 2px solid green;
        width: 100%;
        /* position: absolute; */
    }
    .home_container_1_img {
        display: none;
    }

    .btn_container{
        /* border: 2px solid rgb(0, 0, 0); */
        /* margin-top: 20px; */
        /* height: 4pc; */
    }

    .home_container_1_subcontainer_1_button_2 {
        /* width: 21%; */
        font-size: 13px;
        margin-left: 200px;
        margin-top: 10px;
    }

    .home_container_1_subcontainer_1_button_3 {
        /* width: 21%; */
        font-size: 13px;
        margin-left: 200px;
        margin-top: 60px;
    }

}

@media only screen and (max-width: 450px) {

    .home_container_1_subcontainer_1_button_2 {
        width: 30%;
        font-size: 13px;
        margin-left: 150px;
        margin-top: 10px;
    }

    .home_container_1_subcontainer_1_button_3 {
        width: 30%;
        font-size: 13px;
        margin-left: 150px;
        margin-top: 60px;
    }

}

@media only screen and (max-width: 380px) {

    .home_container_1_subcontainer_1_button_2 {
        width: 30%;
        font-size: 13px;
        margin-left: 120px;
        margin-top: 10px;
    }

    .home_container_1_subcontainer_1_button_3 {
        width: 30%;
        font-size: 13px;
        margin-left: 120px;
        margin-top: 60px;
    }

}

@media only screen and (max-width: 310px) {

    .home_container_1_subcontainer_1_button_2 {
        width: 35%;
        font-size: 13px;
        margin-left: 90px;
        margin-top: 10px;
    }

    .home_container_1_subcontainer_1_button_3 {
        width: 35%;
        font-size: 13px;
        margin-left: 90px;
        margin-top: 60px;
    }

}

/* 
@media only screen and (max-width: 450px) {

    .home_container_1_subcontainer_1_button_2 {
        margin-left: 75px;
        width: 21%;
        font-size: 13px;
        margin-top: -10px;
        position: absolute;
    }

    .home_container_1_subcontainer_1_button_3 {
        margin-left: 75px;
        width: 21%;
        font-size: 13px;
        margin-top: 40px;
    }

    .home_container_1_img {
        width: 100%;
        margin-top: 145px;
    }

} */