
.attendance_db_container_1{
    /* border: 2px solid rgb(7, 7, 7); */
    
    background-color: #fa9a4c9f;
    width: 300px;
    height: 450px;
    margin-top: 20px;
    overflow: auto;
    box-shadow: 2px 1px 5px black;
    border-radius: 5px;
}

.attendance_db_container_1_p1{
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 20px; */
    text-align: center;
    font-size: 16px;
}

.attendance_db_container_2{
    /* position: absolute; */
    margin-left: 400px;
    margin-top: -470px;
}

.attendance_container_1_head {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0px;
    margin-bottom: 30px;

}

.attendance_container_1_p_1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
    /* margin-left: 20px; */
    color: #4f772d;
}

.attendance_db_container_2_h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 45px;
}

.attendance_container_1_subcontainer_1 {
    /* border: 2px solid red; */
    display: grid;
    justify-content: right;
    /* position: absolute; */
    margin-top: -40px;
    margin-right: 150px;
}

.btn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background: none;
    background-color: #5e548e;
    cursor: pointer;
    color: white;
    box-shadow: 2px 1px 6px grey;
    border-radius: 6px;
    border: none;
    width: 300px;
    height: 40px;
}


.attendance_container_1_subcontainer_1_btn_1 {
    background-color: #aacc00;
}

.attendance_container_1_subcontainer_1_btn_1:hover {
    font-weight: 900;
    box-shadow: 2px 1px 6px black;
    letter-spacing: 1px;
}

.attendance_container_1_subcontainer_1_btn_2 {
    margin-top: 30px;
    background-color: #ce4257;
}


.attendance_container_1_subcontainer_1_btn:hover {
    font-weight: 900;
    box-shadow: 2px 1px 6px black;
    letter-spacing: 1px;
}



.attendance_container_1_subcontainer_1_btn_2:hover {
    font-weight: 900;
    box-shadow: 2px 1px 6px black;
    letter-spacing: 1px;
}

.attendance_container_1_subcontainer_1_btn_3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background: none;
    padding: 12px 100px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 1px 6px grey;
    border-radius: 6px;
    border: none;
    background-color: #5e548e;
    color: white;
}

.attendance_container_1_subcontainer_1_btn_3:hover {
    cursor: pointer;
    box-shadow: 2px 1px 6px black;
    font-weight: 900;
    letter-spacing: 1px;
}

.present_color {
    color: #4f772d;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    display: flex;
}

.absent_color {
    color: #ff0505;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 1px;
    /* margin-top: -39%; */
}

.strength {
    /* position: absolute; */
    border: 2px solid black;
    /* margin-top: -40%; */
}

.reload_btn {

    margin: 2% 90%;
    position: fixed;
    top: 15%;
    background-color: #fe5f55;
    padding: 7px 18px;
    font-size: 14px;
    box-shadow: 2px 1px 6px grey;
    border: none;
    border-radius: 5px;
    color: white;
}

.reload_btn:hover {
    box-shadow: 2px 1px 6px black;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 900;
}



/* .attendance_container_1_p_2 {
    border: 2px solid yellow;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: -10px;
    margin-left: 20px;
} */

.attendance_ppara {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: default;
    margin: 180px 20px;
    position: absolute;
    /* margin-top: 20%; */
}

.attendance_name_roll_container{
    /* border: 2px solid black; */
    margin-top: -20px;
    display: flex;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.attendance_name_roll_container_p1{
    font-size: 25px;
    /* color: #e63946; */
    color: #d62828;
}

.attendance_name_roll_container_p2{
    margin-left: 20px;
    font-size: 29px;
    margin-top: 21px;
    color: #3a0ca3;
}

.attendance_reload_btn{
    border: none;
    padding: 9px 18px;
    margin-left:1200px;
    margin-top: 30px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    background-color: #f9844a;
    font-size: 17px;
    border-radius: 4px;
}

.attendance_reload_btn:hover {
    font-weight: 700;
    cursor: pointer;
    background-color: #adb5bd;
}
